rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // User accounts and garages
    match /users/{userId} {
      allow read, write: if true;
    }

    // Vehicle Listings in Compra & Venta
    match /vehicleListings/{listingId} {
      allow read, write: if true;
    }

    // Official MiGaraje Products
    match /products/{productId} {
      allow read, write: if true;
    }

    // Default fallback
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
